$player1-color: rgb(87, 98, 190);
$player2-color: rgb(216, 93, 130);
$player3-color: rgb(216, 204, 93);
$player4-color: rgb(230, 56, 56);
$player5-color: rgb(93, 216, 93);
$player6-color: rgb(216, 93, 216);
$player7-color: rgb(63, 79, 230);
$player8-color: rgb(93, 208, 216);
$player9-color: rgb(243, 156, 75);
$player10-color: rgb(143, 110, 80);
$player11-color: rgb(58, 55, 56);
$player12-color: rgb(25, 110, 25);
$player13-color: rgb(81, 23, 107);
$player14-color: rgb(188, 161, 233);
$player15-color: rgb(252, 240, 244);
$player16-color: rgb(248, 224, 10);

//Picker stage
$self-color: #6a9b75;
$other-color: #e46a44;
