@import url("https://fonts.googleapis.com/css2?family=Armata&display=swap");
.swal2-popup {
  align-items: center; }
  .swal2-popup .name {
    color: #333; }

.piece-picker {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #d4e0e0;
  width: 600px;
  height: 300px;
  align-self: center;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 2px solid #333; }
  .piece-picker .s-piece-container {
    display: flex;
    position: relative;
    align-self: center;
    margin-left: 26px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
    width: 85px;
    height: 85px;
    z-index: 1;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 20px; }
    .piece-picker .s-piece-container:hover {
      border: 2px solid rgba(51, 51, 51, 0.3); }
    .piece-picker .s-piece-container.self {
      border: 4.8px solid #6a9b75;
      background-color: white; }
    .piece-picker .s-piece-container.other {
      border: 4.5px solid #e46a44;
      background-color: #dadada; }
    .piece-picker .s-piece-container .shadow {
      width: 80px;
      height: 40px;
      border-bottom-left-radius: 50% 50%;
      border-bottom-right-radius: 50% 50%;
      border-top-left-radius: 50% 50%;
      border-top-right-radius: 50% 50%;
      background: radial-gradient(rgba(43, 42, 42, 0.85) 28%, transparent 70%);
      position: absolute;
      top: 45px;
      right: 0;
      z-index: -1;
      align-self: center; }
    .piece-picker .s-piece-container img {
      padding: 0.7rem;
      height: 85px;
      width: 85px; }

.game {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.player-1 {
  border: 2px solid #5762be; }
  .player-1.land {
    background-color: #5762be; }

.player-2 {
  border: 2px solid #d85d82; }
  .player-2.land {
    background-color: #d85d82; }

.player-3 {
  border: 2px solid #d8cc5d; }
  .player-3.land {
    background-color: #d8cc5d; }

.player-4 {
  border: 2px solid #e63838; }
  .player-4.land {
    background-color: #e63838; }

.player-5 {
  border: 2px solid #5dd85d; }
  .player-5.land {
    background-color: #5dd85d; }

.player-6 {
  border: 2px solid #d85dd8; }
  .player-6.land {
    background-color: #d85dd8; }

.player-7 {
  border: 2px solid #3f4fe6; }
  .player-7.land {
    background-color: #3f4fe6; }

.player-8 {
  border: 2px solid #5dd0d8; }
  .player-8.land {
    background-color: #5dd0d8; }

.player-9 {
  border: 2px solid #f39c4b; }
  .player-9.land {
    background-color: #f39c4b; }

.player-10 {
  border: 2px solid #8f6e50; }
  .player-10.land {
    background-color: #8f6e50; }

.player-11 {
  border: 2px solid #3a3738; }
  .player-11.land {
    background-color: #3a3738; }

.player-12 {
  border: 2px solid #196e19; }
  .player-12.land {
    background-color: #196e19; }

.player-13 {
  border: 2px solid #51176b; }
  .player-13.land {
    background-color: #51176b; }

.player-14 {
  border: 2px solid #bca1e9; }
  .player-14.land {
    background-color: #bca1e9; }

.player-15 {
  border: 2px solid #fcf0f4; }
  .player-15.land {
    background-color: #fcf0f4; }

.player-16 {
  border: 2px solid #f8e00a; }
  .player-16.land {
    background-color: #f8e00a; }

.title-sell,
.title-sellProperty {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333; }

.userCards {
  padding-top: 1rem;
  padding-bottom: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll; }
  .userCards .userCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: #333 solid 2px;
    border-radius: 10px;
    min-width: 110px;
    max-width: 150px;
    margin-left: 1rem;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-in;
    cursor: pointer; }
    .userCards .userCard:hover {
      transform: scale(1.03); }
    .userCards .userCard.bank {
      background-color: #d7eed4; }
    .userCards .userCard .icon {
      position: relative;
      max-width: 42px;
      max-height: 42px;
      border-radius: 50%;
      padding: 1.2rem;
      margin: 0.5rem;
      overflow: hidden;
      background-color: rgba(77, 75, 75, 0.75); }
    .userCards .userCard img {
      top: 0;
      left: 0;
      position: absolute;
      max-width: 42px;
      max-height: 42px; }
    .userCards .userCard .name {
      font-size: 1.2rem;
      padding: 1.2rem;
      word-wrap: break-word;
      max-width: 150px; }

.onlineUsers {
  padding: 2rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  margin-right: 2.8rem;
  height: 0 auto; }
  .onlineUsers .onlineUser {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #333 0.5%, rgba(252, 245, 242, 0.85) 5%);
    border: #333 2px solid;
    border-radius: 10px;
    margin-bottom: 1rem;
    min-width: 245px;
    max-width: 360px; }
    .onlineUsers .onlineUser .top {
      display: flex; }
      .onlineUsers .onlineUser .top .icon {
        position: relative;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        padding: 1.2rem;
        margin: 0.5rem;
        overflow: hidden;
        background-color: rgba(77, 75, 75, 0.75); }
        .onlineUsers .onlineUser .top .icon img {
          top: 0;
          left: 0;
          position: absolute;
          width: 36px;
          height: 36px; }
      .onlineUsers .onlineUser .top .name {
        font-size: 1.2rem;
        padding: 1.2rem; }
    .onlineUsers .onlineUser .bottom .balance {
      font-size: 1.6rem;
      padding: 1rem;
      margin-left: 0.3rem; }

.btn {
  padding: 0.4rem 2.2rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
  transition: transform 0.12s ease;
  cursor: pointer; }
  .btn:disabled {
    cursor: not-allowed;
    background-color: #969292; }
    .btn:disabled:hover {
      transform: none; }

.btn:hover {
  transform: scale(1.03); }

.btn-sell {
  background-color: #d44949;
  color: #f1f1f1;
  position: fixed;
  bottom: 49px;
  padding: 0.85rem 2.4rem;
  width: 11rem;
  left: 2.4rem;
  z-index: 3;
  border: #202020 solid 1px; }

.btn-dices {
  background-color: #b6eeaf;
  border-radius: 3px;
  width: 11.5rem;
  padding: 0.9rem 2.4rem;
  position: fixed;
  bottom: 49px;
  left: 16rem;
  z-index: 3;
  border: #1d1c1c solid 1px; }
  .btn-dices:hover {
    border: #aff5a8 solid 1px; }

.sellProperty-btn,
.sellHouses-btn {
  max-width: 130px;
  cursor: pointer;
  font-weight: bold;
  margin: 0.2rem;
  border: none;
  border-radius: 16px;
  padding: 0.4rem 1rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
  transition: transform 0.2s ease-in, font-weight 0.2s ease-in; }
  .sellProperty-btn:hover,
  .sellHouses-btn:hover {
    transform: scale(1.03); }

.sellProperty-btn {
  background-color: #e79696; }

.sellHouses-btn {
  background-color: #ca7676; }

.btn-done {
  border-radius: 5px; }

.sellWindow {
  border-radius: 8px;
  padding: 2.4rem;
  background-color: #ecf0f1;
  z-index: 4;
  position: fixed;
  align-self: center;
  text-align: center;
  min-width: 35vw;
  max-width: 38vw;
  top: 20vh;
  left: 32.5vw; }

.layer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(38, 39, 37, 0.5);
  position: fixed;
  z-index: 3; }

.sellProperty-window {
  border-radius: 8px;
  padding: 2.4rem;
  background-color: #ecf0f1;
  position: fixed;
  align-self: center;
  text-align: center;
  min-width: 35vw;
  max-width: 42vw;
  max-height: 800px;
  top: 10vh;
  left: 32.5vw;
  z-index: 6;
  overflow-y: scroll; }
  .sellProperty-window .propertyCards {
    padding-top: 1rem;
    padding-bottom: 1.4rem;
    display: flex;
    flex-wrap: wrap; }
    .sellProperty-window .propertyCards .propertyCard-with-btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.6rem; }

.propertyCard {
  background-color: whitesmoke;
  margin: 0.3rem;
  padding: 5px 2px;
  transition: transform 0.1s ease-in; }
  .propertyCard:hover {
    transform: scale(1.03); }
  .propertyCard .propertyCard-container {
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0.2rem;
    width: 186px;
    height: auto;
    position: relative;
    font-size: 0.8rem;
    font-weight: 530; }
    .propertyCard .propertyCard-container .line {
      width: 170px;
      height: 2px;
      background-color: #333;
      border-radius: 1px;
      align-self: center; }
    .propertyCard .propertyCard-container .line-bottom {
      margin-bottom: 15px; }
    .propertyCard .propertyCard-container .special-name {
      padding-top: 2px;
      padding-bottom: 2px;
      font-size: 0.8rem;
      font-weight: 750; }
    .propertyCard .propertyCard-container .desc {
      text-align: left;
      text-indent: 13px;
      margin: 2px 5px;
      font-size: 0.7rem; }
    .propertyCard .propertyCard-container .mortgage-transport,
    .propertyCard .propertyCard-container .mortgage-utility {
      margin-top: 0.9rem;
      margin-bottom: 0.75rem; }
    .propertyCard .propertyCard-container .name {
      border: 1px solid #333;
      margin: 5px 3px;
      min-height: 37px;
      font-weight: 800;
      font-size: 1.1rem;
      padding-top: 9px; }
      .propertyCard .propertyCard-container .name.orange {
        color: #333; }
    .propertyCard .propertyCard-container .rent {
      margin-top: 0.5rem; }
    .propertyCard .propertyCard-container .house {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.1rem;
      margin-left: 0.9rem;
      margin-right: 0.9rem; }
    .propertyCard .propertyCard-container .hotel {
      display: flex;
      justify-content: center; }
    .propertyCard .propertyCard-container .mortgage,
    .propertyCard .propertyCard-container .houses-cost,
    .propertyCard .propertyCard-container .hotel-cost {
      font-size: 0.75rem; }
    .propertyCard .propertyCard-container img {
      border-radius: 13px;
      z-index: 7;
      width: 130px;
      max-height: 185px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 2.5rem;
      opacity: 0.15;
      overflow: hidden; }
    .propertyCard .propertyCard-container .transport,
    .propertyCard .propertyCard-container .utility {
      margin-top: 8px;
      margin-bottom: 7px;
      position: static;
      opacity: 1;
      width: 60px;
      height: 60px; }
    .propertyCard .propertyCard-container .transport {
      width: 72px;
      height: 72px; }
    .propertyCard .propertyCard-container .info-footer {
      font-size: 0.5rem;
      margin-bottom: 0.6rem; }

.sellProperty-container {
  overflow-y: scroll; }
  .sellProperty-container .layer {
    z-index: 5; }

.card-list {
  display: flex;
  text-align: center;
  position: fixed;
  z-index: 2;
  bottom: -19.5rem;
  left: 28.5rem;
  background-color: rgba(22, 22, 24, 0.85);
  padding: 0.8rem 1.3rem;
  border-radius: 10px;
  padding-right: 160px;
  padding-bottom: 10rem;
  transition: bottom ease-in-out 0.2s;
  cursor: pointer; }
  .card-list:hover {
    bottom: -7.2rem; }
  .card-list.show {
    bottom: -7.2rem; }
  .card-list .propertyCard {
    border-radius: 2px;
    cursor: initial;
    z-index: 2;
    margin: 0;
    box-shadow: -1rem 0 1.2rem #26252c;
    transition: 0.2s; }
    .card-list .propertyCard:not(:first-child) {
      margin-left: -130px; }
    .card-list .propertyCard:hover {
      transform: translateY(-1rem) scale(1.11);
      margin-left: 1.1rem;
      margin-right: 1.1rem; }
    .card-list .propertyCard:hover ~ .propertyCard {
      transform: translateX(130px); }

.dices-component .title {
  padding: 20px;
  font: 16px/20px Arial, sans-serif;
  color: #999;
  text-align: center; }

.dices-component .container {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 95px;
  left: 17px; }

.dices-component .dice {
  width: 100px;
  height: 100px;
  margin: 50px;
  perspective: 400px; }

.dices-component .cube {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: translateZ(-50px) rotateX(0) rotateY(0);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1); }

.dices-component .side {
  position: absolute;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 2px;
  overflow: hidden;
  background: #f5eae0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16), 0 5px 6px rgba(0, 0, 0, 0.23); }

.dices-component .side_1 {
  transform: translateZ(-50px) rotateX(180deg); }

.dices-component .side_2 {
  transform: translateY(-50px) rotateX(90deg); }

.dices-component .side_3 {
  transform: translateX(50px) rotateY(90deg); }

.dices-component .side_4 {
  transform: translateX(-50px) rotateY(270deg); }

.dices-component .side_5 {
  transform: translateY(50px) rotateX(270deg); }

.dices-component .side_6 {
  transform: translateZ(50px); }

.dices-component .dice[data-val="1"] .cube {
  transform: translateZ(-50px) rotateX(180deg) rotateY(0deg); }

.dices-component .dice[data-val="2"] .cube {
  transform: translateZ(-50px) rotateX(-90deg) rotateY(0deg); }

.dices-component .dice[data-val="3"] .cube {
  transform: translateZ(-50px) rotateX(0deg) rotateY(-90deg); }

.dices-component .dice[data-val="4"] .cube {
  transform: translateZ(-50px) rotateX(0deg) rotateY(90deg); }

.dices-component .dice[data-val="5"] .cube {
  transform: translateZ(-50px) rotateX(90deg) rotateY(0deg); }

.dices-component .dice[data-val="0"] .cube {
  transition: transform 1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.dices-component .dice_1[data-val="0"] .cube {
  transform: translateZ(-50px) rotateX(359deg) rotateY(359deg); }

.dices-component .dice_2[data-val="0"] .cube {
  transform: translateZ(-50px) rotateX(-359deg) rotateY(-359deg); }

.dices-component .dot {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 10px;
  background: #2e2d2d;
  box-shadow: inset 0 0 10px rgba(24, 24, 24, 0.5); }

.dices-component .dot_1,
.dices-component .dot_2,
.dices-component .dot_3 {
  top: 20px; }

.dices-component .dot_4,
.dices-component .dot_5,
.dices-component .dot_6 {
  top: 50px; }

.dices-component .dot_7,
.dices-component .dot_8,
.dices-component .dot_9 {
  top: 80px; }

.dices-component .dot_1,
.dices-component .dot_4,
.dices-component .dot_7 {
  left: 20px; }

.dices-component .dot_2,
.dices-component .dot_5,
.dices-component .dot_8 {
  left: 50px; }

.dices-component .dot_3,
.dices-component .dot_6,
.dices-component .dot_9 {
  left: 80px; }

.help_stepbro {
  z-index: 3;
  height: 100vh;
  width: 100vw;
  font-family: Helvetica; }

.loader {
  height: 20px;
  width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.loader--text {
  position: absolute;
  top: 200%;
  left: 2rem;
  margin: auto; }

.loader--text:after {
  content: "Waiting for offer's response";
  color: rgba(228, 166, 51, 0.8);
  font-size: 3rem;
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

@keyframes loader {
  15% {
    transform: translateX(0); }
  45% {
    transform: translateX(780px); }
  65% {
    transform: translateX(780px); }
  95% {
    transform: translateX(0); } }

@keyframes loading-text {
  0% {
    content: "Waiting for offer's response";
    font-size: 3rem; }
  25% {
    content: "Waiting for offer's response.";
    font-size: 2.98rem; }
  50% {
    content: "Waiting for offer's response..";
    font-size: 3rem; }
  75% {
    content: "Waiting for offer's response...";
    font-size: 3rem; } }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #26252c;
  background-position: center;
  background-repeat: repeat;
  background-size: 100px;
  font-family: "Oswald", sans-serif, Tahoma, Verdana;
  font-weight: 520;
  font-size: 10px;
  color: #080808;
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  body ::-webkit-scrollbar {
    width: 13px; }
  body ::-webkit-scrollbar-track {
    background: transparent; }
  body ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px; }
  body ::-webkit-scrollbar-thumb:hover {
    background: #444; }

.land {
  border-radius: 15px;
  min-width: 65px;
  min-height: 20px;
  position: absolute;
  align-self: center;
  text-align: center;
  top: -25px; }

#root > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between; }

.game-container {
  display: flex;
  flex-direction: column; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

.dark-purple {
  background: #5e3577; }

.light-blue {
  background: #d2eaf5; }

.purple {
  background: #b02f7c; }

.orange {
  background: #fa811d; }

.red {
  background: #f50c2b; }

.yellow {
  background: #ffed20; }

.green {
  background: #41994e; }

.dark-blue {
  background: #5a6dba; }

.table {
  padding-left: 50px;
  padding-right: 50px;
  transform: scale(0.9);
  transition: transform ease 0.3s;
  text-transform: uppercase;
  margin-bottom: 14rem; }

.board {
  display: grid;
  grid-template-columns: 125px repeat(9, 80px) 125px;
  grid-template-rows: 125px repeat(9, 80px) 125px;
  grid-gap: 2px;
  margin: 50px auto;
  width: 994px;
  height: 994px;
  background: #3f3e3d;
  border: 2px solid #080808; }
  .board .title {
    grid-column: 1 / 9;
    grid-row: 4;
    font-size: 90px;
    font-weight: 420;
    letter-spacing: 12px; }

.center {
  grid-column: 2 / 11;
  grid-row: 2 / 11;
  background: #fafaf8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  align-items: center; }

.community-chest-deck {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  transform: rotate(135deg);
  margin-bottom: 60px;
  margin-right: 60px; }

.chance-deck {
  grid-column: 5 / 7;
  grid-row: 5 / 7;
  transform: rotate(315deg);
  margin-top: 60px;
  margin-left: 60px; }

.label {
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
  padding-bottom: 10px; }

.deck {
  border: 2px dashed #080808;
  width: 160px;
  height: 120px; }

.row {
  display: grid;
  grid-gap: 2px; }

.horizontal-row {
  grid-template-columns: repeat(9, 80px);
  grid-template-rows: 125px; }

.vertical-row {
  grid-template-columns: 125px;
  grid-template-rows: repeat(9, 80px); }
  .vertical-row .container {
    top: 50%;
    left: 50%; }

.bottom-row {
  grid-column: 2 / 11;
  grid-row: 11; }

.left-row {
  grid-column: 1;
  grid-row: 2 / 11; }
  .left-row .container {
    transform: translate(-50%, -50%) rotate(90deg); }

.top-row {
  grid-column: 2 / 11;
  grid-row: 1; }
  .top-row .container {
    transform: rotate(180deg); }

.right-row {
  grid-column: 11;
  grid-row: 2 / 11; }
  .right-row .container {
    transform: translate(-50%, -50%) rotate(270deg); }

.space {
  background: #fafaf8;
  text-align: center; }
  .space .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transform-origin: center;
    height: 125px;
    width: 80px; }
  .space .name,
  .space .instructions {
    word-wrap: break-word;
    z-index: 1;
    transform: translateY(-1px);
    padding-left: 8px;
    padding-right: 8px; }
  .space img {
    border-radius: 10px;
    opacity: 0.8;
    position: absolute;
    width: 62px;
    height: 62px;
    bottom: 14px;
    right: 7px; }
  .space .price {
    font-size: 7px;
    font-weight: 500;
    padding-bottom: 5px; }

.corner .container {
  justify-content: space-around;
  height: 100%;
  width: 100%; }

.corner .name {
  padding: 0; }

.property .color-bar {
  height: 25px;
  border-bottom: 2px solid #080808; }

.property .name {
  padding-bottom: 50px; }

.railroad .name {
  padding-top: 10px; }

.railroad .drawing {
  font-size: 60px;
  color: #080808; }

.utility .name {
  padding-top: 10px; }

.utility .drawing {
  font-size: 70px; }

.fee .name {
  padding-top: 10px;
  font-size: 14px; }

.fee .instructions {
  font-size: 10px; }

.go {
  grid-column: 11;
  grid-row: 11 / 12;
  position: relative; }
  .go .container {
    justify-content: flex-start;
    transform: rotate(315deg); }
  .go .instructions {
    padding: 0 30px; }
  .go .go-word {
    font-size: 60px;
    color: #f50c2b; }
  .go .arrow {
    font-size: 45px;
    color: #f50c2b;
    position: absolute;
    bottom: -10px;
    left: 5px; }

.jail {
  grid-column: 1;
  grid-row: 11 / 12;
  display: grid;
  grid-template-columns: repeat(10, 12.5px);
  grid-template-rows: repeat(10, 12.5px);
  justify-content: center;
  align-items: center; }
  .jail .drawing {
    grid-column: 4 / 11;
    grid-row: 1 / 8;
    width: 87.5px;
    height: 87.5px;
    background: #fa811d;
    border-bottom: 2px solid #080808;
    border-left: 2px solid #080808; }
  .jail .just {
    grid-column: 3;
    grid-row: 4;
    transform: rotate(90deg);
    padding-top: 5px; }
  .jail .visiting {
    grid-column: 6;
    grid-row: 8;
    padding-top: 5px; }
  .jail .container {
    align-items: center;
    transform: rotate(45deg); }
  .jail .name {
    font-size: 14px; }
  .jail .window {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 55px;
    height: 55px;
    background: #fafaf8;
    border: 2px solid #080808; }
  .jail .person {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 40px; }
  .jail .bar {
    height: 55px;
    width: 2px;
    background: #080808; }

.free-parking {
  grid-column: 1;
  grid-row: 1 / 2; }
  .free-parking .container {
    justify-content: center;
    transform: rotate(135deg); }
  .free-parking .name {
    font-size: 16px; }
  .free-parking .drawing {
    font-size: 60px;
    color: #f50c2b;
    padding-top: 5px;
    padding-bottom: 5px; }

.go-to-jail {
  grid-column: 11;
  grid-row: 1 / 1; }
  .go-to-jail .container {
    justify-content: center;
    transform: rotate(225deg); }
  .go-to-jail .name {
    font-size: 16px; }
  .go-to-jail .drawing {
    font-size: 60px;
    color: #640303;
    padding-top: 5px;
    padding-bottom: 5px; }

.chance .container {
  justify-content: center; }

.chance .drawing {
  font-size: 90px;
  color: #f50c2b; }

.chance .blue {
  color: #5a6dba; }

.community-chest .container {
  justify-content: space-around; }

.community-chest .drawing {
  font-size: 50px;
  color: #d2eaf5; }

.community-chest .instructions {
  font-size: 8px; }

.electric-company .drawing {
  color: #ffed20; }

.waterworks .drawing {
  color: #5a6dba; }

.income-tax .container {
  justify-content: center;
  align-items: center; }

.income-tax .name {
  padding-bottom: 5px; }

.income-tax .diamond {
  width: 5px;
  height: 5px;
  background: #080808;
  transform: rotate(45deg);
  display: inline-block; }

.income-tax .instructions {
  padding-top: 5px;
  padding-bottom: 5px; }

.luxury-tax .drawing {
  font-size: 50px; }

.luxury-tax .instructions {
  padding-bottom: 5px; }

.long-name {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.three-line-name {
  position: relative;
  top: 5px; }

.pieces {
  z-index: 2;
  position: absolute;
  bottom: 150px;
  right: 164px; }
  .pieces .piece {
    transition: transform 0.2s ease-in-out;
    position: absolute; }
    .pieces .piece img {
      width: 49px; }

.barra {
  border-radius: 15px 15px 0 0;
  z-index: 3;
  bottom: -5px;
  position: fixed;
  width: 100vw;
  height: 40px;
  background: #262429;
  border: rgba(32, 32, 32, 0.8) solid 3px;
  box-shadow: 0 1px 9px rgba(19, 14, 14, 0.16), 0 6px 6px rgba(0, 0, 0, 0.23); }
